@using _50DersteMVC.Models.Entity
@model PagedList.IPagedList<Category>
@using PagedList
@using PagedList.Mvc 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-primary" href="/Categories/AddCategory/">Yeni Kategori</a>
<br />
<br />
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th></th>
    </tr>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>
                    <a class="btn btn-danger" href="/Categories/DeleteCategory/@item.Id">Sil</a>
                    <a class="btn btn-success" href="/Categories/UpdateCategory/@item.Id">Güncelle</a>
                </td>
            </tr>


        }

    </tbody>

</table>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page}))
